@font-face {
    font-family: 'droid_sansregular';
    src: url('../font/droidsans-webfont.woff2') format('woff2'),
         url('../font/droidsans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'droid_sansbold';
    src: url('../font/droidsans-bold-webfont.woff2') format('woff2'),
         url('../font/droidsans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'droid_serifbold';
    src: url('../font/droidserif-bold-webfont.woff2') format('woff2'),
         url('../font/droidserif-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'droid_serifregular';
    src: url('../font/droidserif-regular-webfont.woff2') format('woff2'),
         url('../font/droidserif-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}