//Global Colors

$black: #000;
$white: #fff;
$brown: #2c0f0f;
$light-white: #e4e4e4;
$light-gray: #999;
$dark-white: #ddd;
$light-brown: #765c5c;
$dark-blue: #000066;
$light-blue: #3333ff;
$gray: #858585;
$dark-grey: #666;

//Button Colors
$btn-primary: $dark-blue;
$btn-hover: $light-blue;






